<div class="container col-6 mt-5">
  <h3>Liste des commandes: </h3>
  <br>
  <table class="table table-hover" *ngIf="orders$ | async as orders else sinon">
    <caption class="caption-top">Liste des commandes</caption>
    <thead class="table-dark">
      <tr>
        <th scope="col">orderId</th>
        <th scope="col">orderDetails</th>
        <th scope="col">creationDate</th>
        <th scope="col">lastUpdate</th>
        <th scope="col">orderState</th>
      </tr>
    </thead>
    <tbody *ngFor="let order of orders">
      <tr>
        <th scope="row">{{ order.orderID }}</th>
        <td>{{ order.orderDetails }}</td>
        <td>{{ order.creationDateTime | date: 'dd/MM/yyy' }}</td>
        <td>{{ order.lastModifiedDateTime | date: 'dd/MM/yyy' }}</td>
        <td>{{ order.orderState }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #sinon> Pas de commande... </ng-template>