<h3>Client</h3>
<nav>
  <ul>
    <li><a routerLink="/client/commandes-client">Commandes</a></li>
    <li><a routerLink="/client/adresses-livraison">Adresses de livraison</a></li>
  </ul>
</nav>
<div class="container" *ngIf="client$ | async as client else sinon">
  <ul>
    <li>{{ client.clientID}}</li>
    <li>{{ client.email}}</li>
    <ul *ngFor="let order of client.orders">
      <li>{{ order.orderID }}</li>
      <li>{{ order.creationDateTime }}</li>
      <li>{{ order.lastModifiedDateTime }}</li>
    </ul>
  </ul>
</div>
<ng-template #sinon> Pas de client... </ng-template>

<router-outlet></router-outlet>