<div></div>
<h3>Client</h3>
<nav>
  <ul>
    <li><a routerLink="/client/commandes-client">Commandes</a></li>
    <li><a routerLink="/client/liste-adresses">Adresses de livraison</a></li>
  </ul>
</nav>
<div class="container col-6" *ngIf="client$ | async as client else sinon">
  <h3>Information du client</h3>
  <br>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Client ID:</div>
        {{ client.clientID}}
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Email:</div>
        {{ client.email}}
      </div>
    </li>
    <br>
  </ul>
</div>
<ng-template #sinon> Pas de client... </ng-template>

<router-outlet></router-outlet>