<h3>Liste des produits</h3>
<nav>
  <ul>
    <li><a routerLink="/produit/liste-produits/details-produits">Details des produits</a></li>
  </ul>
</nav>
<div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="products$ | async as list; else sinon">
  <div class="col" *ngFor="let product of list">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.unitPrice }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<ng-template #sinon> Pas de produits... </ng-template>

<router-outlet></router-outlet>